ion-menu-button {
    color: var(--ion-color-primary);
  }

.top-row {
  padding-left: 20px;
}
  
// .account-btn {
//   color: var(--ion-color-primary);
//   margin-right: 30px !important; 
// }

// #container {
//   text-align: center;
//   // position: absolute;
//   left: 0;
//   right: 0;
//   margin-top: 30px;
//   margin-bottom: 40px;
//   padding: 0px 15px 0px 15px;
//   // top: 50%;
//   // transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   color: #8c8c8c;
//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }