<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>This page will be updated often to keep you informed
      on current work in progress, future plans and
      potential ideas.</p><br>
    <p>The idea is to have a single source of truth for the
      Northeast. Many successful anglers or guides with a
      large following reside in the Southern states or
      West coast and there seems to be a void for the Northeast.
      I am here to close the gap and create a place for all
      to learn, teach, and/or discuss.</p><br>
  </div>
  <br>
  <div id="todo">
    <ul><h3>Current to do:</h3>
      <li>Create a blog</li>
      <li>Link successful baits/gear</li>
    </ul>
  </div>
  <br>
  <br>
  <div id="todo-future">
    <ul><h3>Future plans:</h3>
      <li>Companion app</li>
      <li>"Catch" log incorporated with blog</li>
      <li>Automatic sync w/ weather upon logging a catch</li>
    </ul>
  </div>
</ion-content>