ion-menu-button {
    color: var(--ion-color-primary);
}

.account-btn {
    color: var(--ion-color-primary);
    margin-right: 30px !important; 
}

// #jumbotron {
//   
// }

.text-row {
    margin-top: 10px;
}

.text-col {
    padding: 0px 25px 0px 25px;
}

.welcome-text {
    font-size: large;
}

.swiper-div {
    padding-top: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

swiper {
    max-width: 600px;
    max-height: 600px;
}

img {
    width: 100%;
    display: block;
}