<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="jumbotron">
    <img src="assets/images/jumbotron.jpg" />
  </div>

  <div class="spacer">
    <p>I'm happy to introduce to you a new source for Northeastern
      anglers. Here, you will find a rich growing database
      accompanied by robust tools to help the new and salty alike.
      Tight lines!
    </p>
  </div>
  <br>

  <div class="swiper-div">
    <swiper #swiper [config]="swiperConfig">
      <ng-template swiperSlide *ngFor="let slide of sliderImages">
        <div><img [src]="slide" /></div>
      </ng-template>
    </swiper>
  </div>

  <br>
  <br>
</ion-content>