<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <user-menu></user-menu>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col class="ion-float-left">
        <div>
          <h3>float-left</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col class="ion-float-right">
        <div>
          <h3>float-right</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- <ion-content> -->
  <!-- <ion-grid> -->
    <!-- Top intro -->
    <!-- <ion-row class="top-row"> -->
      <!-- <ion-row class="ion-align-items-center"> -->
      <!-- <ion-row class="ion-align-items-end"> -->
      <!-- <ion-col class="ion-align-items-center"> -->
      <!-- <ion-col>
        <div>
          <h4>Catch</h4>
          <h4>..Record</h4>
          <h4>...Release!</h4>
        </div>
      </ion-col>
      <ion-col>
        <h5>This is what works for me and I'm happy to share the
          info if it'll help you too!
        </h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h6>
          There's a good chance you already
          have a version of what I showcase here but if you do want
          to buy exactly what is pictured, please use the
          provided link! It will help me bring more quality content
          to the table.
        </h6>
      </ion-col>
    </ion-row> -->
    <!-- //Top intro -->
  <!-- </ion-grid> -->
<!-- </ion-content> -->